/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
label#lblError {
    display: block;
    text-align: center;
}

input.error, select.error, div.error, label.error {
    border: 1px dotted #cc5965;
}

label.success {
    color: #5cb85c;
    display: inline-block;
    margin-left: 5px;
}

.img-circle {
    width: 48px;
    height: 48px;
}

.preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loading_light.gif) center no-repeat #fff;
}


.validation-summary-errors {
    color: red;
}

.field-validation-error {
    color: red;
}   