

<div class="row">

    <div class="col-xl-8 order-xl-3 ">
        <div class="card">
            <form id="myForm" action="javascript:;">


                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">New Item</h3>
                        </div>
                    </div>
                </div>

                <div class="card-body">


                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Category Id
                                    </label>
                                    @Html.DropDownList("CategoryId",new List<SelectListItem>{
                                    new SelectListItem{ Text= "Food" ,Value="Food"},
                                    new SelectListItem {Text="Drink" ,Value="Drink"},
                                    new SelectListItem {Text= "Beverages" ,Value="Beverages" }},new {@class="form-control"})
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Item Name
                                    </label>
                                    @Html.Editor("ItemName", new { htmlAttributes = new { @class = "form-control  required", @placeholder = "Item Name" } })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Combo <span style="color:red;">*</span></label>
                                    @Html.CheckBox("IsCombo")
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Item Image
                                    </label>
                                    <input type="file" name="file" id="itemId" />
                                </div>
                            </div>
                           
                         
                           
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-12 text-center">
                            <button type="submit" id="btn-submit" class="btn btn-md btn-primary">
                                Save
                            </button>
                            <a href="/Item/Index" class="btn btn-default">Cancel</a>
                            <label id="lblError" class="inline"></label>


                        </div>
                    </div>


                </div>

            </form>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Assets/ManageItem.js" asp-append-version="true"></script>

}



