<div class="modal fade" id="deleteModal" data-custom- tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2>Are you sure?</h2>
                <h4 style="display: block;">You will not be able to recover this</h4>
            </div>
            <div class="modal-footer" style="text-align:center !important">
                <button class="btn btn-default" tabindex="2" data-dismiss="modal">No, cancel pls!</button>
                <button class="btn btn-danger" id="delete-btn">Yes, delete it!</button>
            </div>
        </div>
    </div>
</div>