<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dishout OLO</title>
@*<title>@ViewData["Title"] | HRMS App</title>
*@<!-- Favicon -->

<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/live/argon-dashboard-asp-net" />


<partial name="_ThemeStyles" />
